header.p-header.l-verticalWriting.l-blackBackGround
  h1
    a(href='#')
      img.p-header__logo(src="/assets/images/logo.svg" alt="創作" width="57" height="132")

  nav.p-header__nav
    ul
      li.p-header__navItem
        a(href='#news') お知らせ
      li.p-header__navItem
        a(href='#product') 商品のご紹介
      li.p-header__navItem
        a(href='#store') 店舗のご案内
