@use '../../global' as *;

.u-forSP {
  @include mq-up(md) {
    display: none;
  }
}

.u-forPC {
  display: none;
  @include mq-up(md) {
    display: block;
  }
}

.u-displayNone {
  display: none !important;
}

.u-txtHide {
  @include text-hide();
}

.u-margin {
  &--right15 {
    margin-right: 15px;
  }
}
