@use '../../global' as *;
@use 'sass:math';

.p-footer {
  padding: 40px 20px 30px;

  font-size: $font-size-s-sp;

  @include mq-up(md) {
    padding: 80px 30px 30px;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 40px;
    height: auto;

    @include mq-up(md) {
      margin-right: 50px;
    }
  }

  &__address {
    margin-right: 25px;

    @include mq-up(md) {
      margin-right: 60px;
    }
  }

  &__call {
    margin-right: 6px;
  }

  &__nav {
    margin-right: 25px;

    @include mq-up(md) {
      margin-right: 60px;
    }
  }

  &__listItem {
    @include mq-up(md) {
      font-size: $font-size-m-pc;
    }

    + .p-footer__listItem {
      margin-right: 10px;

      @include mq-up(md) {
        margin-right: 25px;
      }
    }
  }

  &__action {
    padding-bottom: 6px;

    + .p-footer__action {
      border-top: 0.5px solid $color-white;
      padding-top: 6px;
    }
  }

  &__copy {
    display: block;
    width: 100%;
    text-align: center;

    font-size: $font-size-xxs-sp;
  }
}
