@use '../../global' as *;
@use 'sass:math';

.p-header {
  width: 100%;
  padding: 20px;

  position: absolute;

  @include mq-up(md) {
    padding: 60px 80px;
  }

  &__logo {
    width: 40px;
  }

  &__nav {
    margin-right: 60px;
  }

  &__navItem {
    + .p-header__navItem {
      margin-right: 25px;
    }
  }
}
