@use '../../global' as *;

.p-mainVisual {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/mainvisual-sp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  z-index: -1;

  &__button {
    padding: 8px;

    background-color: rgba(255,255,255,0.2);

    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &__buttonInner {
    display: block;
    padding: 30px 18px;

    border: 1px solid $pjc-border-base;
  }
}

.p-news {
  width: 100%;

  &__contents {
    margin-top: 20px;
    margin-right: 22px;
  }

  &__list {
    padding: 15px 12px;

    border-right: 1px solid $color-black;

    &:last-child {
      border-left: 1px solid $color-black;
    }
  }
}

.p-promotion {
  &__container {
    position: relative;

    + .p-promotion__container {
      margin-top: 100px;
    }
  }

  &__image {
    $margin-horizon: 4px;
    width: 90%;
    height: auto;
    margin-top: 70px;
    margin-right: $margin-horizon;

    &--even {
      @extend .p-promotion__image;

      margin-left: $margin-horizon;
      margin-right: 0;
    }
  }

  &__texts {
    width: 45%;
    padding: 30px 0;

    color: $color-white;
    text-align: center;

    bottom: -20px;
    position: absolute;

    &--yellow {
      @extend .p-promotion__texts;

      background-color: rgba(249, 233, 6, 0.6);

      left: -20px;
    }

    &--red {
      @extend .p-promotion__texts;

      background-color: rgba(149, 42, 38, 0.6);

      right: -20px;
    }
  }

  &__text {
    width: 100%;
  }
}
