@use '../global' as *;

.l-verticalWriting {
  writing-mode: vertical-rl;
}

.l-blackBackGround {
  background-color: $color-black;
  color: $pjc-txt-white;
}

.l-contentsArea {
  padding: 0 20px;
  margin-top: 80px;

  @include mq-up(md) {
    margin-top: 180px;
  }
}

.l-flex {
  display: flex;
}

.l-justifyEnd {
  justify-content: flex-end;
}
