@use '../global' as *;

.l-verticalWriting {
  writing-mode: vertical-rl;
}

.l-blackBackGround {
  background-color: $color-black;
  color: $pjc-txt-white;
}

.l-contentsArea {
  padding: 0 20px;
  margin-top: 80px;
}

.l-flex {
  display: flex;
}
