@use '../../global' as *;

.c-text {
  &--xxs {
    font-size: $font-size-xxs;
  }

  &--xs {
    font-size: $font-size-xs;
  }

  &--s {
    font-size: $font-size-s;
  }

  &--m {
    font-size: $font-size-m;
  }

  &--l {
    font-size: $font-size-l;
  }

  &--xl {
    font-size: $font-size-xl;
  }
}

.c-writing {
  &--vertical {
    writing-mode: vertical-rl;
  }

  &--horizontal {
    writing-mode: horizontal-tb;
  }
}

.c-horizontalWriting {
  writing-mode: horizontal-tb;
}
