@use '../../global' as *;

.c-sectionTitle {
  font-size: $font-size-xl-sp;

  @include mq-up(md) {
    font-size: $font-size-xl-pc;
  }
}

.c-sectionSubTitle {
  font-size: $font-size-s-sp;
}

.c-appealText {
  font-size: $font-size-l-sp;

  @include mq-up(md) {
    font-size: $font-size-l-pc;
  }
}

.c-enAppealText {
  display: none;

  @include mq-up(md) {
    display: inline;
    margin-top: 18px;
  }
}

.c-writing {
  &--vertical {
    writing-mode: vertical-rl;
  }

  &--horizontal {
    writing-mode: horizontal-tb;
  }
}

.c-horizontalWriting {
  writing-mode: horizontal-tb;
}
