//- ---
//- dynamicPermalink: false
//- permalink: 'xx.html'
//- ---

extends /_layout-default

prepend config-block
  //- - site.page_name = '創作'
  //- - site.description = ''
  //- - site.keywords = ''
  //- - site.url = ''
  //- - site.ogp_type = 'article'

//- append stylesheet-block
//-   link(rel="stylesheet", href="/assets/styles/page.css")

//- append javascript-block
//-   script(src="/assets/scripts/page.js")

block content-block
  include /_header

  main.l-main
    .p-mainVisual.l-verticalWriting.l-blackBackGround
      .p-mainVisual__button
        a.p-mainVisual__buttonInner(href='index.html' target='_blank') オンラインストアを見る
    section#news.p-news.l-verticalWriting.l-contentsArea
      p.c-text--s News
      h2.c-text--xl お知らせ
      ul.p-news__contents
        - for (let i = 0; i < 3; i++)
          li.p-news__list
            time.c-text--xs(datetime='2021-01-01') 2021.01.01
            p タイトルタイトルタイトルタイトル
    section#product.p-promotion.l-contentsArea
      h2.u-displayNone 商品のご紹介
      .p-promotion__container
        .l-flex
          img.p-promotion__image(src='/assets/images/products1.jpg' alt='商品の写真' width='450' height='300')
          h3.c-writing--vertical.c-text--l 新しい価値の想像
        .p-promotion__texts--yellow
          p.p-promotion__text.c-horizontalWriting.c-text--s
            | テキストテキスト
            br
            | テキストテキスト
      .p-promotion__container
        .l-flex
          h3.c-writing--vertical.c-text--l 科学と技術の調和
          img.p-promotion__image--even(src='/assets/images/products2.jpg' alt='商品の写真' width='450' height='300')
        .p-promotion__texts--red
          p.p-promotion__text.c-horizontalWriting.c-text--s
            | テキストテキスト
            br
            | テキストテキスト
    section#store.p-map
      iframe.p-map__frame(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6483.366329297049!2d139.735061!3d35.660177!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b9c2ef8e6c3%3A0xff8de5eeddcd1e17!2z44CSMTA2LTAwMzIg5p2x5Lqs6YO95riv5Yy65YWt5pys5pyo77yV5LiB55uu!5e0!3m2!1sja!2sjp!4v1738802942563!5m2!1sja!2sjp' width='600' height='450' style='border:0;' allowfullscreen loading='lazy' referrerpolicy='no-referrer-when-downgrade')

  include /_footer
